[submodule "roles/nginx_controller_install"]
	path = roles/nginx_controller_install
	url = https://github.com/nginxinc/ansible-role-nginx-controller-install
[submodule "roles/nginx_controller_license"]
	path = roles/nginx_controller_license
	url = https://github.com/nginxinc/ansible-role-nginx-controller-license
[submodule "roles/nginx_controller_generate_token"]
	path = roles/nginx_controller_generate_token
	url = https://github.com/nginxinc/ansible-role-nginx-controller-generate-token
[submodule "roles/nginx_controller_agent"]
	path = roles/nginx_controller_agent
	url = https://github.com/nginxinc/ansible-role-nginx-controller-agent
[submodule "roles/nginx_controller_certificate"]
	path = roles/nginx_controller_certificate
	url = https://github.com/nginxinc/ansible-role-nginx-controller-certificate
[submodule "roles/nginx_controller_gateway"]
	path = roles/nginx_controller_gateway
	url = https://github.com/nginxinc/ansible-role-nginx-controller-gateway
[submodule "roles/nginx_controller_component"]
	path = roles/nginx_controller_component
	url = https://github.com/nginxinc/ansible-role-nginx-controller-component
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/nginxinc/ansible-role-nginx
[submodule "roles/nginx_controller_application"]
	path = roles/nginx_controller_application
	url = https://github.com/nginxinc/ansible-role-nginx_controller_application
[submodule "roles/nginx_controller_location"]
	path = roles/nginx_controller_location
	url = https://github.com/nginxinc/ansible-role-nginx_controller_location
[submodule "roles/nginx_controller_environment"]
	path = roles/nginx_controller_environment
	url = https://github.com/nginxinc/ansible-role-nginx_controller_environment
[submodule "nginx_controller_user"]
	path = nginx_controller_user
	url = https://github.com/nginxinc/ansible-role-nginx_controller_user
[submodule "roles/nginx_controller_user"]
	path = roles/nginx_controller_user
	url = https://github.com/nginxinc/ansible-role-nginx_controller_user
[submodule "roles/nginx_controller_user_role"]
	path = roles/nginx_controller_user_role
	url = https://github.com/nginxinc/ansible-role-nginx_controller_user_role
[submodule "roles/nginx_controller_integration"]
	path = roles/nginx_controller_integration
	url = https://github.com/nginxinc/ansible-role-nginx_controller_integration
[submodule "roles/nginx_controller_forwarder"]
	path = roles/nginx_controller_forwarder
	url = https://github.com/nginxinc/ansible-role-nginx_controller_forwarder
[submodule "roles/nginx_controller_api_definition_import"]
	path = roles/nginx_controller_api_definition_import
	url = https://github.com/nginxinc/ansible-role-nginx_controller_api_definition_import
